
html, body, #root, .App {
  height: 100%;
}
:focus {
  outline: 0;
  }

  body.dark{
    background-color: #000;
  }

  body.white{
    background-color: #fff;
  }

  .chevron-right{
    right: 30px;
    top: 18px;
    position: absolute !important;
  }